* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

h1 {
  text-align: center;
}

.container {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 80%
}

.color-container {
  width: 100%;
}

.color-panel {

  display: inline-block;
  text-align: center;
  margin: 20px auto;
  width: 32%;
  border-radius: 5px;
}

.blue {
  background-color: #2d5dcc;
}

.pink {
  background-color: #d957d9;
}

.green {
  background-color: #4fe0b0;
}

.beige {
  background-color: #efd9ca;
}