* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

h1 {
  text-align: center;
  font-size: 26px;
  font-family: "Nunito Sans";
  font-weight: 700;
}

h2 {
  font-weight: 500;
  font-size: 18px;
  font-family: poppins;
}
.container {
  border: 2px solid rgb(95, 91, 91);
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto;
  width: 80%
}

p {
  font-weight: 400;
  font-family: poppins;
}

/* Color section */
.color-container {
  width: 100%;
}

.color-panel {
  display: inline-block;
  text-align: center;
  margin: 20px auto;
  width: 32%;
  border-radius: 5px;
}

.blue {
  background-color: #2d5dcc;
}

.pink {
  background-color: #d957d9;
}

.green {
  background-color: #4fe0b0;
}

.beige {
  background-color: #efd9ca;
}

/* Font section */
.font-container {
  width: 100%;
}

.font-panel {
  display: inline-block;
  text-align: left;
  margin: 20px auto;
  width: 45%;
  border-radius: 5px;
}

.font-label {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.source-code-pro {
  font-family: "Source Code Pro"
}

.nunito-sans {
  font-family: "Nunito Sans"
}

.poppins {
  font-family: poppins;
}